
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
    padding: 10px;
    background-color: whitesmoke;
}

.wrapper {
    flex: 1;
}

header {
    background-color: whitesmoke;
    color: var(--header-text-color);
    padding: 1em;
    text-align: center;
}

.navbar {
    background-color: black;
    padding: 10px;
    position:absolute;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 1000;
}


.navbar li {
    display: inline-block;
    margin-right: 20px;
}


.about-me,
.projects,
.contact,
.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--section-bg-color);
    box-shadow: var(--section-box-shadow);
}

h1, h2, h3, h4 {
    color: var(--text-color);
}

p {
    line-height: 1.6;
    color: #666;
}

.project-card {
    display: flex-center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.project-card img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


/* .project {
    flex: 0 0 calc(48% - 20px);
    margin-bottom: 20px;
} */

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
}




